body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 800;
}

div {
    margin-top: 5px;
}


#map {
    height: 800px;
    border: 1px groove #000000;
}
#tools {
   padding-left: 1%;
}

.sidenav{
    margin-top: 10px;
    background-color: #f4ffe6;
    border: 1px groove #000000;
    border-radius: 5px;
}

#box_button {
    border-top: 1px solid #000000;
    text-align: left;
    margin-left: 10px;
}
.table {
    margin-top: 10px;
}
.btn-group-vertical {
    margin-left: 1%;
    display: inline-block;
}

.btn-primary {
    background-color: #c8e1ff;
    color: #0a0a0a;
    font-weight: 500;
}

#address_tool {
    text-align: left;
}

#show_more {
    margin-bottom: 10px;
}
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0a0a0a;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#error_container {
    width: auto;
    text-align: center;
}



