body {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 800;
}

#map {
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main_container {
    width: 1000px;
    margin: auto;
}

.box_left {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 2px groove #95c11f;
    border-radius: 5px;
    font-size: 14px;
    background: #95c11f;
}

#left_section {
    width: 300px;
    float: left;
}

#right_section {
    float: left;
    width: 600px;
}

.clear {
    clear: both;
}

#map_container {
    position: relative;
}

#tools {
    position: relative;
    top: 1px;
    right: 1px;
    left: 1px;
    margin-bottom: 10px;
    z-index: 10000000;
    width: 596px;
    border: 2px groove #95c11f;
    border-radius: 5px;
    background: #95c11f;
}

.tool {
    float: left;
    font-size: 12px;
    width: 288px;
    padding-left: 10px;
}

.tool .tool_input {
    float: left;
    width: 150px;
}

.tool .tool_input input {
    width: 130px;
}

.tool .tool_label {
    float: left;
    width: 100px;
}

.tool .tool_output {
    float: left;
    width: 30px;
    text-align: right;
}

#tools_showmore {
    padding: 5px;
    text-align: center;
}

#tools_headline {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.adress input {
    margin-bottom: 10px;

}